* {
  font-family: Roboto, sans-serif;
}

header {
  display: block;
  width: 100%;
  text-align: center;
}

bar {
  width: 90%;
  height: .25em;
  margin: auto;
  border-radius: 1em;
  display: block;
  background-color: #ababab;
  animation-name: magic;
  animation-duration: 1s;
}

@keyframes magic {
  from {
    width: 0;
  }
}

@keyframs myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

img[name="avatar"] {
  border-radius: 1em;
  max-width: 12em;
  display: block;
  margin: auto;
}

.skill {
  max-width: 15em;
  display: block;
  margin: auto;
}

.skill-name {
  display: inline-block;
  font-weight: bold;
}

.skill-value {
  margin-top: .5em;
  display: inline-block;
  float: right;
}

.one {
  background-color: red;
  width: 10%;
}
.two {
  background-color: orange;
  width: 20%;
}
.three {
  background-color: grey;
  width: 30%;
}
.four {
  background-color: green;
  width: 40%;
}

.sections {
  text-align: center;
}

section {
  display: inline-block;
  padding: 1em;
  max-width: 30em;
  vertical-align: top;
  animation-name: myFade;
  animation-duration: 1s;
}

.container {
  margin: auto;
  margin-top: 1.5em;
  max-width: 100em;
}

section header {
  font-size: 1.25em;
  font-weight: bold;
  margin: 1em 0;
}

p {
  text-align: justify;
}

.project-body {
  text-align: justify;
}

.clean {
  text-decoration: none;
}

.clean:hover {
  text-decoration: none;
}

.light {
  color: #707070;
}

#projects {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#skills {
  text-align: left;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.project {
  display: inline-block;
  border: solid .1em #ababab;
  padding: 1em;
  border-radius: .5em;
  margin: 1em;
}

.project-title {
  /*border-bottom: solid .1em #ababab;*/
  padding-bottom: .25em;
  margin-bottom: .25em;
  font-weight: bold;
}

.project-buttons {
  padding-top: .25em;
  margin-top: .25em;
}
/*
a.button {
  text-decoration: none;
  color: #0a0a0a;
  border: solid .1em #ababab;
  border-radius: .5em;
  padding: .25em .5em;
  transition: all .5s ease;
}

a.button:hover {
  color: white;
  background-color: #ababab;
  border-color: white;
}*/

.button {
  text-decoration: none;
  color: #0a0a0a;
  display: inline-block;
  background-color: white;
  border: solid .1em #ababab;
  border-radius: .5em;
  padding: .25em 1em;
  transition: all .1s linear;
}

.button:hover {
  background-color: #dedede;
}

.button:active {
  border-color: #dedede;
  background-color: #a1a1a1;
  color: white;
}
